

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #FCD0A1;
  color: #5E4B56;
}

.present {
  background-color: #AFD2E9;
  color:#5E4B56;
}

.future {
  background-color: #B1B695;
  color: #5E4B56;
}

.saveBtn {
  border: 2px solid #A690A4;
  background-color: #EFE9F4;
  color: #A690A4;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.hour {
  border-top: 2px dashed #A690A4;
  border-bottom: 2px solid #A690A4;
  border-right: 2px solid #A690A4;
  color: #5E4B56;
}

.hour-content {
  border: 2px solid #A690A4;
  background-color: #B1B695;
  color: #5E4B56;
}

